
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet"  type="text/css" href="{% static 'style.css'%} "  />
<link rel="stylesheet"   type="text/css" href="{% static 'coin-slider.css'%}" />

<script type="text/javascript" src="{% static 'cufon-yui.js'%} "></script>
<script type="text/javascript" src="{% static 'cufon-aller.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery-1.4.2.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script.js'%}"></script>
<script type="text/javascript" src="{% static 'coin-slider.min.js'%}"></script>
<style type="text/css">
<!--
.style5 {
	font-size: 24px;
	color: #FF0000;
}
.style12 {font-weight: bold}
.style13 {font-size: 24px; color: #FF0000; font-weight: bold; }
.style16 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <p>&nbsp;</p>
      </div>
      <div class="mainbar">
        <h1 align="center"><a href="index.html"><span class="content style5">Early Detection and Prevention of Malicious User Behavior on Twitter Using Deep Learning Techniques</span></a></h1>



        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    <div class="alert alert-primary text-white font-weight-bold" role="alert">
     <p align="center"><span class="active"><span class="style12"><a href="{% url 'index' %}">Home|  </a><a href="{% url 'login' %}">Remote User </a>|<a href="{% url 'serviceproviderlogin' %}"> Service Provider </a></span></span></p>
    </div>
    <div>
</div>



        <img src="{% static 'Banner.jpg'%}" width="1297" height="421" alt="" class="fl" />      </div>
      <div class="clr"></div>
      <div class="slider">
        
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2 align="center" class="style13">Foreseeing, malicious users, social networks,Twitter...</h2>
          <div class="img">
            <div align="center"><img src="{% static 'img1.jpg'%}" width="630" height="221" alt="" class="fl" /></div>
          </div>
          <div class="post_content">
            <p align="justify" class="style16">Organized misinformation campaigns on Twitter
continue to proliferate, even as the platform acknowledges
such activities through its transparency center. These deceptive
initiatives significantly impact vital societal issues, including
climate change, thus spurring research aimed at pinpointing
and intercepting these malicious actors. Present-day algorithms
for detecting bots harness an array of data drawn from user
profiles, tweets, and network configurations, delivering commendable
outcomes. Yet, these strategies mainly concentrate
on postincident identification of malevolent users, hinging on
static training datasets that categorize individuals based on
historical activities. Diverging from this approach, we advocate
for a forward-thinking methodology, which utilizes user data to
foresee and mitigate potential threats before their realization,
thereby cultivating more secure, equitable, and unbiased online
communities. To this end, our proposed technique forecasts
malevolent activities by tracing the projected trajectories of user
embeddings before any malevolent action materializes. For validation,
we employed a dynamic directed multigraph paradigm
to chronicle the evolving engagements between Twitter users.
When juxtaposed against the identical dataset, our technique
eclipses contemporary methodologies by an impressive 40.66%
in F score (F1 score) in the anticipatory identification of harmful
users. Furthermore, we undertook a model evaluation exercise
to gauge the efficiency of distinct system elements....</p>
          </div>

        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    <div class="alert alert-primary text-white font-weight-bold" role="alert">
     <p align="center"><span class="active"><span class="style12"><a href="{% url 'login' %}">Home|  </a><a href="{% url 'login' %}">Remote User </a>|<a href="{% url 'serviceproviderlogin' %}"> Service Provider </a></span></span></p>
    </div>
    <div>
</div>
          <div class="clr"></div>
        </div>
      </div>
      <div class="sidebar">
        <div class="searchform"></div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg"></div>
  <div class="footer"></div>
</div>
<div align=center></div>
</body>
</html>
